<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Navigation System</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/about">About</a>
      </nav>
    </div>
  </header>