<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= render "shared/navigation" %>
  <main class="px-3">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
          <div class="form"> <i class="fa fa-search"></i> <input type="text" class="form-control form-input" placeholder="Search anything..."></div>
      </div>
  </div>
  </main>
  <footer class="mt-auto text-white-50">
    <p>Design and Develop by Ali Raza - Web Based Navigation System</p>
  </footer>
</div>
</body>